
html {
	font-size: 100%;
}

.stutter {
	font-family: "NanumGothic", sans-serif;
	font-size: 0.75em;
}

.stutter a {
	text-decoration: none;
}

.stutter h1 {
	color: #000000;
	margin-top: 2em;
	padding-bottom: 0.2em;
	font-size: 1.9em;
	border-bottom: 2px solid black;
}

.stutter h2 {
	color: #000000;
	margin-top: 1.5em;
	padding-bottom: 0.2em;
	font-size: 1.3em;
}

.stutter h3 {
	color: #000000;
	margin-top: 1.2em;
	padding-bottom: 0.2em;
	font-size: 1.15em;
}

.stutter .hPadding1 {
	padding-left : 0px;
}

.stutter .hPadding2 {
	padding-left : 10px;
}

.stutter .hPadding3 {
	padding-left : 20px;
}

.stutter hr {
	margin: 10px;
	border-top: 1px #cccccc dashed;
	border-right: 0px;
	border-bottom: 0px;
	border-left: 0px;
}

.stutter a {
	color: #5f7ad0;
	text-decoration: none;
	border-bottom: 1px dotted #5f7ad0;
}

.stutter a:hover {
	color: #06237f;
	text-decoration: none;
	border-bottom: 1px solid #2d5aea;
}

.stutter a:visited {
	color: #aaaaaa;
	text-decoration: none;
	border-bottom: 1px dotted #aaaaaa;
}



.stutter ol.header {
	padding: 10px 0px 10px 10px;
	background-color: #f5f7fd;
}

.stutter ol.header a {
	color: #5f7ad0;
	text-decoration: none;
}

.stutter ol.header a:hover {
	color: #06237f;
	text-decoration: none;
	border-bottom: 1px dotted #5f7ad0;
}

.stutter ol.header a:visited {
	color: #aaaaaa;
	text-decoration: none;
}

.stutter ol.header li.header1 {
	margin-left: 0em;
	list-style-type: none;
}

.stutter ol.header li.header2 {
	font-size: 0.8em;
	margin-left: 2.50em;
	list-style-type: circle;
	color: #aaaaaa;
}

.stutter ol.header li.header3 {
	font-size: 0.8em;
	margin-left: 3.33em;
	list-style-type: circle;
	color: #aaaaaa;
}

.stutter ol {
}

.stutter ol li {
	margin-top : 0.3em;
}

.stutter ol li.unordered1 {
	margin-left: 0em;
	list-style-type: disc;
}

.stutter ol li.unordered2 {
	margin-left: 0.83em;
	list-style-type: square;
}

.stutter ol li.unordered3 {
	font-size: 0.9em;
	margin-left: 1.67em;
	list-style-type: circle;
	color: #555555;
}

.stutter ol li.unordered4 {
	font-size: 0.8em;
	margin-left: 2.50em;
	list-style-type: circle;
	color: #aaaaaa;
}

.stutter ol li.unordered5 {
	font-size: 0.8em;
	margin-left: 3.33em;
	list-style-type: circle;
	color: #aaaaaa;
}

.stutter ol li.ordered1 {
	margin-left: 0em;
	list-style-type: decimal;
}

.stutter ol li.ordered2 {
	margin-left: 0.83em;
	list-style-type: lower-alpha;
}

.stutter ol li.ordered3 {
	font-size: 0.9em;
	margin-left: 1.67em;
	list-style-type: lower-roman;
	color: #555555;
}

.stutter ol li.ordered4 {
	font-size: 0.8em;
	margin-left: 2.50em;
	list-style-type: decimal;
	color: #aaaaaa;
}

.stutter ol li.ordered5 {
	font-size: 0.8em;
	margin-left: 3.33em;
	list-style-type: lower-alpha;
	color: #aaaaaa;
}

.stutter table {
	border-collapse: collapse;
	text-align: left;
	margin: 0px auto 0px auto;
}

.stutter table th, .stutter table td {
	padding-left: 5px;
	padding-right: 20px;
}

.stutter table thead th {
	padding-top: 0.83em;
	padding-bottom: 0.3em;
	border-bottom: 2px solid #6678b1;
}

.stutter table tfoot th, .stutter table tfoot td {
	border-bottom: 1px solid #dddddd;
}

.stutter table tbody th, .stutter table tfoot th {
	font-weight: normal;
	color: #039;
	padding: 0.6em 0.4em;
}

.stutter table td {
	color: #669;
	padding-top: 0.6em;
	padding-bottom: 0.3em;
}

.stutter table tbody tr:hover td, .stutter table tfoot tr:hover td {
	color: #009;
}

.stutter table tbody tr.row0 th, .stutter table tfoot tr.row0 th {
	background-color: #f5f7fd;
}

.stutter table tbody tr.row1 th, .stutter table tfoot tr.row1 th {
	background-color: #ffffff;
}

.stutter table tbody tr.row0 td, .stutter table tfoot tr.row0 td {
	background-color: #f5f7fd;
}

.stutter table tbody tr.row1 td, .stutter table tfoot tr.row1 td {
	background-color: #ffffff;
}

.stutter p.document {
	color: #000000;
	line-height: 150%;
}

.stutter p.document strong {
	font-weight: bold;
	text-decoration: none;
	font-style: normal;
}

.stutter p.document em {
	text-decoration: underline;
	font-style: normal;
}

.stutter p.document s {
	text-decoration: line-through;
	color: #999999;
}

.stutter p.document dfn {
	text-decoration: none;
	font-style: italic;
}

.stutter p.document span.highlight {
	color: #da5013;
	font-weight: bold;
	font-size: 1.2em;
}

.stutter p.document img {
	max-width: 90%;
}

.stutter p.media {
	text-align: center;
	font-size: 0.7em;
	color: #aaaaaa;
}

.stutter p.media a {
	text-decoration: none;
	border: 0px;
}
